{% extends "schedules/set/base.html" %}

{% load bootstrap3 %}

{% block page-header %}
	{{ block.super }}
	<h2>Set schedule</h2>
{% endblock %}

{% block breadcrumb %}
<li><a href="{% url "dashboard" %}">Dashboard</a></li>
<li><a href="{% url "station-dashboard" station_pk=station.pk %}">{{ station.name }}</a></li>
<li class="active">Set schedule</li>
{% endblock %}

{% block content_station %}

{% include "messages.html" %}

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Rank</th>
			<th>Qualifications</th>
		</tr>
	</thead>
	<tbody>
		{% for person in station.people.all %}
		<tr>
			<td>
				<a href="{% url "set-schedule-for-person" station_pk=station.pk person_pk=person.pk %}" class="btn btn-xs btn-primary">
					Go <span class='glyphicon glyphicon-chevron-right'></span></a>
				{{ person.name }}
			</td>
			<td>{{ person.rank }}</td>
			<td>{% for q in person.qualifications.all %}<span class="label label-info">{{ q.code }}</span> {% endfor %}</td>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
