{% extends "people/station_base.html" %}

{% load schedule_tags people_tags media_tags bootstrap3 common_tags %}

{% block media %}
	{% add_js "lib/bootstrap/js/bootstrap.js" %}
	{{ block.super }}
{% endblock %}

{% block page-header %}
	{{ block.super }}
	<h2>Schedule for {{ week_start }} - {{ week_end }}</h2>
{% endblock %}

{% block breadcrumb %}
<li><a href="{% url "dashboard" %}">Dashboard</a></li>
<li><a href="{% url "station-dashboard" station_pk=station.pk %}">{{ station.name }}</a></li>
<li class="active">View schedule</li>
{% endblock %}

{% block content_station %}

<h3>
<ul class="pager">
	<li class="previous"><a href="?week_start={{ previous_week.isoformat }}">&larr; {{ previous_week }}</a></li>
	<li>
{{ week_start|date:"l, d/m/Y" }} - {{ week_end|date:"d/m/Y" }}
</li>
	<li class="next"><a href="?week_start={{ next_week.isoformat }}">{{ next_week }} &rarr;</a></li>
</ul>
</h3>

<table id="station-schedule" class="table table-bordered table-striped table-condensed station-schedule">
	<thead>
		<tr>
			<th rowspan="2">Person</th>
			<th colspan="{{ week_range|length }}">Roster</th>
		</tr>
		<tr>
			{% for date in week_range %}
				<th class='day'>{{ date|date:"D, jS M" }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for person in station.people.all %}
		<tr data-person-id="{{ person.id }}">
			<th class="person">
				{{ person.name }}
				{% qualification_badges person.qualifications.all %}

				{% if person.phone_numbers.exists %}
					<div class='contact-details'>
						<dl class="">
							{% for phone_number in person.phone_numbers.all %}
							<dt>{{ phone_number.type }}</dt>
							<dd>{{ phone_number.number }}</dd>
							{% endfor %}
						</dl>
					</div>
				{% endif %}

				<span class="pull-right">
					<a class="glyphicon glyphicon-edit" href="{% url "set-schedule-for-person" station_pk=station.pk person_pk=person.pk %}" target="_blank"></a>
				</span>
			</th>
			{% with schedule=person.schedule|by_days:week_range %}{% for date, availability in schedule %}
			<td class="day" data-date="{{ date.isoformat }}">
				{% if availability %}
					{% include "schedules/availability/bubble.html" %}
				{% endif %}
			</td>
			{% endfor %}{% endwith %}
		</tr>
		{% endfor %}
	</tbody>
</table>


<script>
jQuery(function($) {

	$schedule = $('#station-schedule');
	$schedule.on('click', '[data-availability]', function(e) {
		console.log(this, e);
		var $availability = $(this);
		$.ajax({
			url: $availability.data('availabilityUpdateUrl'),
			method: 'POST',
			success: function(data) {
				$(data).insertAfter($availability);
				$availability.remove();
			},
		});
	});

})
</script>

{% endblock %}
