.container-full-width {
  max-width: none; }

.table-form .form-group {
  margin-bottom: 0px;
  padding-bottom: 0px; }

table.set-schedule td.buttons {
  white-space: nowrap; }

textarea.textarea-grow {
  height: 2.4em;
  transition: all 0.2s ease-in-out;
  position: relative;
  z-index: 1; }
  textarea.textarea-grow:focus {
    height: 15em;
    margin-bottom: -12.6em;
    z-index: 10; }

table.station-schedule {
  table-layout: fixed; }
  table.station-schedule .person {
    width: 200px;
    position: relative;
    white-space: nowrap;
    padding-right: 2em; }
    table.station-schedule .person .pull-right {
      margin-right: -1.5em; }
  table.station-schedule .contact-details {
    display: block;
    position: absolute;
    left: -1px;
    top: 100%;
    width: 100%;
    background-color: white;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    border: 1px solid #ccc;
    font-weight: normal;
    pointer-events: none; }
  table.station-schedule tr:hover .contact-details {
    display: block;
    opacity: 1;
    pointer-events: auto; }
  table.station-schedule .contact-details dl {
    margin: 0px; }
  table.station-schedule .day {
    width: 200px;
    position: relative; }
    table.station-schedule .day:last-child {
      overflow: hidden; }
    table.station-schedule .day .availability {
      white-space: nowrap;
      display: block;
      position: relative;
      box-sizing: border-box;
      padding: 0.1em 0.5em;
      margin: 0px;
      text-oveflow: ellipsis;
      overflow: hidden;
      z-index: 1;
      height: 100%;
      cursor: pointer; }
  table.station-schedule th.day {
    text-align: center; }
  table.station-schedule td.day {
    padding: 0px;
    margin: 0px; }
    table.station-schedule td.day:before {
      position: absolute;
      display: block;
      content: '';
      border-left: 1px dashed #ccc;
      left: 50%;
      top: 0;
      bottom: 0; }
